:root {
  --bg-color: #16a085;
  --button-bg-color: #e67e22;
  --text-color: #fff;
}

.calculator {
  background-color: var(--bg-color);
  color: var(--text-color);
}

button {
  background-color: var(--button-bg-color);
  color: var(--text-color);
}


button.equal {
  background-color: #eb2f06;
}

button.reset {
  background-color: #1e3799;
}

button.del {
  background-color: #fa983a;
}
